.nav {
    width: 100%;
    position: sticky;
    top: 0;
    left: 0;
    background-color: tomato;
    color: white;
    padding: 20px;
    text-align: center;
    font-family: 'Shrikhand', cursive;
    overflow: hidden;
}

#navTitle {
    font-size: 200%;
    font-style: bold;
}

#guess {
    margin: 0 20%;
}

#score {
}