#jumbotron {
    width: 100%;
    overflow: hidden;
    background-image: url("/images/skulls.png");
    height: 275px;
    text-align: center;
    color: rgb(34,52,128);
    font-family: 'Shrikhand', cursive;
}

h1 {
    margin: 70px 0 10px;
    font-size: 350%;
}

h3 {
    font-size: 120%;
    color: rgb(150, 150, 150);
    margin: 5px;
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

#win {
    margin-top: 20px;
}