#jumbotron {
    width: 100%;
    overflow: hidden;
    background-image: url("/images/skulls.png");
    height: 300px;
    margin-bottom: 20px;
    text-align: center;
    color: rgb(99, 99, 99);
    font-family: 'Shrikhand', cursive;
}

h1 {
    margin: 100px 0 0;
}