.card {
    float: left;
    height: 115px;
    padding: 12px 10px;
    box-shadow: 2px 3px 5px grey;
    margin: 15px;
}

.card:hover {
    box-shadow: 4px 6px 5px grey;
}

.image {
    width: 200px;
    margin: auto;
}