.card {
    float: left;
    height: 115px;
    padding: 12px 10px;
    box-shadow: 2px 3px 5px grey;
    margin: 15px;
}

.card:hover {
    box-shadow: 6px 9px 5px grey;
    transform: scale(1.1);
}

.image {
    width: 200px;
    margin: auto;
}

#red {
    animation: flashRed 1.5s forwards;
}

#yellow {
    animation: flashYellow 1.5s forwards;
}

@keyframes flashRed {
    from {
        background: tomato;
    }
    to {
        background: white;
    }
}

@keyframes flashYellow {
    from {
        background: goldenrod;
    }
    to {
        background: white;
    }
}